h1{
    color:greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
   display: block;
   margin: 0 auto;
   max-width: 500px;;
    width: 100%;
}

iframe{
    width: 100%;
}
li{
    display: inline;
}

h2{
    color:salmon;
    font-size:20px;
    
}

.highlight{
    background-color: yellow;
    color: navy;
    font-size: 25px;
    background-color: greenyellow;
}

body{
    background-color: greenyellow;
}

.container{
   max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

#navigation{
    background-color: coral;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
 }

 #navigation .container > ul >li {
     display: inline;
 }

#navigation li:first-child {
    background-color: maroon;
}

#navigation li:nth-child(2) {
    background-color: indianred;
}

li:first-child :hover {
    background-color: cyan;
}

#navigation li {
    position: relative;
}

#navigation ul ul  {
    display: none;
    position: absolute;
    right: 0;
}

#navigation:hover {
    background-color: royalblue;
    }

#navigation a:hover + ul, 
#navigation a + ul:hover {
    display: block;
}

#header{
    background-color: navy;
    padding:50px;
    border:5px solid navajowhite;
}

#content{
    background-color: papayawhip;
    padding:8px;
}

#footer{
    background-color: honeydew;
    border: 40px solid wheat;
    padding: 10px;
}